<html>
    <head>
        <script src='https://cdn.socket.io/socket.io-1.4.5.js'></script>
        <script type='text/javascript' src='./static/js/audioengine.js'></script>
        <script type='text/javascript' charset='utf-8'>
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.on('connect', function() {
                console.log('connected');
                //socket.emit('my event', {data: 'I\'m connected!'});
            });

            setInterval(function() {
                socket.emit('in', 'data here');
            }, 2000);

            socket.on('out', function(data) {

            });

            // Create the audio engine, sequencer and sample bank
            var engine = AudioEngine();
            var sequencer = StepSequencer();
            var sampleBank = SampleBank(engine.ctx);

            // Define a data structure to load the data and initialize audio playback from
            var files = [{
                    path : './static/media/sound/Alesis_HR16A_03.wav',
                    name : 'Kick 1',
                    toggles : [1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0],
                    enabled : true
                }, {
                    path: './static/media/sound/808_HH__CL.wav',
                    name : 'Hi-hat',
                    toggles : [1,0,1,0,1,0,1,0,1,0,1,0,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0],
                    enabled : true
                }, {
                    path : './static/media/sound/Alesis_HR16A_48.wav',
                    name : 'Snare',
                    toggles : [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0], 
                    enabled : true
                }, {
                    path : './static/media/sound/Clap 01 - Low.wav',
                    name : 'Clap', 
                    toggles : [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
                    enabled : false
                }
            ]

            // Set up handlers for load success and error
            var loadCount = 0;
            function onSampleLoadSuccess(sample) {
                loadCount++;
                sequencer.addVoice(sample.buffer, sample.name);
                sequencer.enableVoiceAtSteps(sample.id, files[sample.id].toggles);
                sequencer.enableVoice(sample.id, files[sample.id].enabled);

                if(loadCount >= files.length) {
                    engine.connect(sequencer);
                } else {
                    var file = files[loadCount];
                    sampleBank.load(file.path, file.name, onSampleLoadSuccess);
                }
            }

            function onSampleLoadError(error) {
                console.error(error);
            } 
            
            // Start loading the files
            sampleBank.load(files[0].path, files[0].name, onSampleLoadSuccess, onSampleLoadError);
        </script>
    </head>
    <body>
        <h1>Muse</h1><h2>by HEXA</h2><p>Please contact your local bot</p>
    </body>
</html>
