<html>
    <head>
        <script src='https://cdn.socket.io/socket.io-1.4.5.js'></script>
        <script type='text/javascript' src='./static/js/audioengine.js'></script>
        <script type='text/javascript' charset='utf-8'>
            // Create the audio engine, sequencer and sample bank
            var engine = AudioEngine();
            var sequencer = StepSequencer();
            var sampleBank = SampleBank(engine.ctx);

            // Store checkboxes in a 2D array
            var checkboxes = [];

            // Define a data structure to load the data and initialize audio playback from
            var files = [{
                    path : './static/media/sound/Kick05-Longer.wav',
                    name : 'Kick',
                    toggles : [1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0],
                    enabled : true
                }, {
                    path: './static/media/sound/CH.WAV',
                    name : 'Hi-hat',
                    toggles : [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1],
                    enabled : true
                }, {
                    path : './static/media/sound/Snare04-Hi-Simmons1.wav',
                    name : 'Snare',
                    toggles : [0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0], 
                    enabled : true
                }, {
                    path : './static/media/sound/CP.WAV',
                    name : 'Clap',
                    toggles : [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
                    enabled : true
                }
            ]

            // Set up handlers for load success and error
            var loadCount = 0;
            function onSampleLoadSuccess(sample) {
                loadCount++;
                files[sample.id].id = sample.id; 
                sequencer.addVoice(sample.buffer, sample.name);
                sequencer.enableVoiceAtSteps(sample.id, files[sample.id].toggles);
                sequencer.enableVoice(sample.id, files[sample.id].enabled);
                
                if(loadCount >= files.length) {
                    updateInfo();
                    sequencer.setTempo(94);
                    sequencer.setSteps(32);
                    engine.connect(sequencer);

                    var socket = io.connect('http://' + document.domain + ':' + location.port);
                    socket.on('connect', function() {
                        console.log('Connected');
                    });

                    var btn = document.getElementById("play-stop-btn");
                    btn.addEventListener("click", function(event) {
                        switch(engine.getState()) {
                            case 'started':
                                engine.stop();
                                btn.value = 'Play';
                            break;
                            case 'stopped':
                                engine.start();
                                btn.value = 'Stop';
                            break;
                        }
                    });

                    var tempoSlider = document.getElementById("tempo-slider");
                    tempoSlider.addEventListener("input", function(event) {
                        sequencer.setTempo(tempoSlider.value);
                    });

                    var volumeSlider = document.getElementById("volume-slider");
                    volumeSlider.addEventListener("input", function(event) {
                        engine.setAmplitude(volumeSlider.value);
                    });

                    var saveButton = document.getElementById('save-btn');
                    saveButton.addEventListener('click', function(event) {
                        var voices = sequencer.getVoices();
                        console.log(voices);
                        var toggleData = "";
                        for(var i in voices) {
                            var toggles = voices[i]['toggles']
                            if(toggles) {
                                for(var j in toggles) {
                                    toggleData += toggles[j];
                                }
                            }
                        }
                        var sequence = {
                            instrument : 'beatbox',
                            shape : [files.length, sequencer.getSteps()],
                            data : toggleData
                        }
                        socket.emit('save_sequence', JSON.stringify(sequence))
                    });

                    var sequencerDiv = document.getElementById("sequencer");
                    for(var i in files) {
                        var file = files[i];
                        checkboxes.push([]);
                        var container = document.createElement("div");
                        var label = document.createElement("p");
                        var toggleDiv = document.createElement("div");
                        label.innerHTML = file.name;
                        container.appendChild(label);
                        container.appendChild(toggleDiv);
                        sequencerDiv.appendChild(container);

                        for(var j in file.toggles) {
                            var toggle = document.createElement("input");
                            toggle.type = "checkbox";
                            toggle.checked = file.toggles[j];
                            toggleDiv.appendChild(toggle);
                            toggle.voice_id = file.id;
                            toggle.index = j;
                            checkboxes[i].push(toggle);
                            toggle.addEventListener('change', function(event) {
                                var toggle = event.target;
                                sequencer.enableVoiceAtStep(
                                    toggle.voice_id, toggle.index, toggle.checked);
                            });
                        }
                    }
                } else {
                    var file = files[loadCount];
                    sampleBank.load(file.path, file.name, onSampleLoadSuccess);
                }
            }

            function onSampleLoadError(error) {
                console.error(error);
            } 
            
            // Start loading the files
            sampleBank.load(files[0].path, files[0].name, onSampleLoadSuccess, onSampleLoadError);

            function updateInfo() {
                requestAnimationFrame(updateInfo);
                var t = engine.getCurrentTime();
                var currentStep = sequencer.getCurrentStep();
                var totalSteps = sequencer.getSteps();
                var div = document.getElementById('info');
                var quaterNote =  1 + Math.floor(currentStep / 4) % 4;
                var measure = 1 + Math.floor(currentStep / 16);
                div.innerHTML = "Current Time: " + 
                    parseFloat(t).toFixed(2) + 
                    "<br/>Tempo: " + sequencer.getTempo() + 
                    "<br/>Steps: " + sequencer.getSteps() +
                    "<br/>" + quaterNote +":" +  measure;
                
                for(var i = 0; i< checkboxes.length; i++) {
                    for(var j = 0; j < checkboxes[i].length; j++) {
                        checkboxes[i][j].style.boxShadow = 
                            (j == currentStep % totalSteps) ? "0px 1px 0px blue" : "0px 0px 0px";
                    } 
                } 
            }
        </script>
    </head>
    <body>
        <h1>Muse</h1><h2>by HEXA</h2><p>Please contact your local bot</p>
        <input type="button" id="play-stop-btn" value="Play"></input>
        <p>Tempo: <input type="range" id="tempo-slider" value="120" step="1" min="45" max="270"></p>
        <p>Volume: <input type="range" id="volume-slider" step="0.01" value="0.5" min="0.0" max="0.8"></p>
        <div id="info">Info here</div>
        <div id="sequencer"></div>
        <input id='save-btn' type='button' value='Save'></input>
    </body>
</html>
