<html>
    <head>
        <script src='https://cdn.socket.io/socket.io-1.4.5.js'></script>
        <script type='text/javascript' src='./static/js/audioengine.js'></script>
        <script type='text/javascript' src='./static/js/sequencer-ui.js'></script>
        <script type='text/javascript' charset='utf-8'>
            // ---------------------------------------------------------------- 
            // Setup the Audio Engine
            var engine = AudioEngine();
            var sequencer = StepSequencer();
            
            // ---------------------------------------------------------------- 
            // SocketIO Handlers
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.on('connect', function() {
                console.log('Connected');
            });

            socket.on('error', function() {
                console.log('error');
            });

            socket.on('message', function(message) {
                console.log(message);
            });

            socket.on('composition_init', function(data) {
                compositionId = data['composition_id']; 
            });

            socket.on('response_new_sequence', function(data) {
                var sampleBank = new SampleBank(engine.ctx);
                sampleBank.loadAll(data['voices'], 
                    function success() {
                        var voices = data['voices'];
                        var sequenceId = data['_id']['$oid'];
                        var sequenceName = data['name'];

                        for (var voice in voices) {
                            var voiceName = voices[voice]['name'];
                            var voiceId = voiceName + '-' + sequenceId;
                            voices[voice]['voiceId'] = voiceId;
                            sequencer.addVoice(voiceId, voiceName, sampleBank.samples[voiceName])
                        }
                         
                        var seqUI = new SequencerUI(
                            document.getElementById('sequencer'), sequencer, sequenceName, voices);
                    }, 
                    function error() {
                         
                    }); 
            });

            // ----------------------------------------------------------------  
            // IO Event Handlers
            function onSampleBufferLoadComplete(sampleBank) {
                
            }

            function onSampleBufferLoadError(error) {
                console.log(error);
            }

            // ---------------------------------------------------------------- 
            // UI Handlers
            window.onload = function() {
                var instrumentSelect = document.getElementById('instrument-select');
                var createInstrumentButton = document.getElementById('create-instrument-btn');

                createInstrumentButton.addEventListener('click', function(event) {
                    socket.emit('request_new_sequence', {
                        'composition_id' : compositionId, 
                        'instrument' : instrumentSelect.value
                    });
                });

                engine.connect(sequencer);

                var btn = document.getElementById("play-stop-btn");
                btn.addEventListener("click", function(event) {
                    switch(engine.getState()) {
                        case 'started':
                            engine.stop();
                            btn.value = 'Play';
                        break;
                        case 'stopped':
                            engine.start();
                            btn.value = 'Stop';
                        break;
                    }
                });

                var tempoSlider = document.getElementById("tempo-slider");
                tempoSlider.addEventListener("input", function(event) {
                    sequencer.setTempo(tempoSlider.value);
                });

                var volumeSlider = document.getElementById("volume-slider");
                volumeSlider.addEventListener("input", function(event) {
                    engine.setAmplitude(volumeSlider.value);
                });

                function updateInfo() {
                    requestAnimationFrame(updateInfo);
                    var t = engine.getCurrentTime();
                    var currentStep = sequencer.getCurrentStep();
                    var totalSteps = sequencer.getSteps();
                    var div = document.getElementById('info');
                    var quaterNote =  1 + Math.floor(currentStep / 4) % 4;
                    var measure = 1 + Math.floor(currentStep / 16);
                    div.innerHTML = "Current Time: " + 
                        parseFloat(t).toFixed(2) + 
                        "<br/>Tempo: " + sequencer.getTempo() + 
                        "<br/>Steps: " + sequencer.getSteps() +
                        "<br/>" + quaterNote +":" +  measure;
                }
                updateInfo();
            }
        </script>
    </head>
    <body>
        <h1>Muse</h1><h2>by HEXA</h2><p>Please contact your local bot</p>
        <input type="button" id="play-stop-btn" value="Play"></input>
        <p>Tempo: <input type="range" id="tempo-slider" value="120" step="1" min="45" max="270"></p>
        <p>Volume: <input type="range" id="volume-slider" step="0.01" value="0.5" min="0.0" max="0.8"></p>
        <div id="info">Info here</div>

        <h3>Create New Instrument</h3>
        <div>
            <select id='instrument-select'>
                {% for instrument in instruments %}
                <option text="{{ instrument['name'] }}" value="{{ instrument['_id'] }}">{{ instrument['name'] }}</option>
                {% endfor %}
            </select>
            <input id='create-instrument-btn' type='button' value='Create'></input>
        </div>
        <div id="sequencer"></div>
    </body>
</html>
